<%- include('../partials/header') %>

<% let r = Math.floor(200*Math.random()),g=Math.floor(200*Math.random()), b=Math.floor(200*Math.random())
   let color = "rgb("+r+", "+g+", "+b+")" %>
<div class="container-fluid">
    <h3>Welcome to <span id="chatroom"><%=chatRoom%></span> chatroom <span id="user" style="color:<%= color%>"><%= user %></span></h3>
    <strong>key <span id="key"><%=key%></span></strong>
    <ul id="messages"></ul>
    <form id="form">
        <div class="form-group send">
          <!-- <textarea class="form-control" id="message" placeholder="message" rows="1"></textarea> -->
          <input type="text" class="form-control" id="message" placeholder="message">
          <button class="btn btn-info">Send</button>
          
          <!-- add an option to change back ground color -->
          <input type="color" class="form-control form-control-color" id="background" value="#00ced1"  title="Choose your color">
        </div>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>

<script>
  var user = document.querySelector("#user").innerText
  var chatroom = document.querySelector("#chatroom").innerText
  
  var socket = io();
  var messages = document.getElementById('messages');   
  var form = document.getElementById('form');
  var input = document.getElementById('message')
  var bg = document.getElementById('background')


  window.onload = (event) => {
    bg.value = "#00ced1"
}
 bg.addEventListener("change", ()=>{
   messages.style.backgroundColor = bg.value
 })
 
  form.addEventListener('submit', function(e) {
    e.preventDefault();

    if (input.value) {
      socket.emit('chat message', {msg: input.value, user: user, room : chatroom});
      input.value = '';
    }
  });

  socket.on("connect", ()=>{
    socket.emit("welcome", {user, chatroom})
  })


  socket.on("disconnected", function(msg) {
    var item = document.createElement('div');
    item.classList.add("notify")
    item.textContent = msg;
    messages.appendChild(item);
    messages.scrollTop = messages.scrollHeight;
  })

  socket.on("welcome", msg=>{
    var item = document.createElement('p');
    item.textContent = msg;
    item.classList.add("notify")
    messages.appendChild(item);
    messages.scrollTop = messages.scrollHeight;
  })
  // any event received by the client will be printed in the console.
  // socket.onAny((event, ...args) => {
  // console.log(event, args);
  // }); 

  socket.on('chat message', function(data) {
    var item = document.createElement('div');
   if(user===data.user)
      item.classList.add("my-message-item");
    else 
      item.classList.add("message-item");
    
    
    var sender = document.createElement('li');
    sender.classList.add("sender-item");

    var message = document.createElement('div');
    message.textContent = data.msg;
    sender.textContent = data.user;
    item.appendChild(sender);
    item.appendChild(message);
   
    messages.appendChild(item);
    messages.scrollTop = messages.scrollHeight;
  });
</script>

<%- include('../partials/footer') %>